.banner{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 4rem;
    background-color:#FEFAF5;
}

.banner__info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem 0;
    text-align:left;
}

.banner__picture{
    display:flex;
    height: 25rem;
}

.banner__info__title{
    color: #335576;
    width:30rem;
}

.banner__info__desc {
    color: #335576;
    width:40rem;
    font-size:1rem;
}

.getstarted{ 
    background-color: #DB7A4E;
    color: white;
    border: none;
    left:0.5rem;
    font-size:1.3rem;
    padding: 0.75rem 2rem;
    text-decoration: none;
    display: block;
    max-width: fit-content;
    border-radius: 1.5625rem;
}

.recommendations{
    padding:2rem;
}

.recommendations__cards-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
}

.recommendations__card{
    border-radius: .3125rem;
    border:1px solid rgba(0.2, 0.2, 0.2);
    box-shadow: 0px 4px 4px rgba(0.2, 0.2, 0.2);  /*box shadow looks weird with correct instructions*/
    height: 25rem;
    display:flex;
}

.card__title{
    position:absolute;
    color:white;
    padding-top: 22rem;
    padding-left: 9.5rem;
}
